{% extends "_base.html" %}

{% block title %}Contact Us{% endblock %}
{% block header %}Contact Us{% endblock %}
{% block main %}
<div class="container mx-auto " style="max-width: 90%;">
  <div class="card text-center">
  <div class="card-header text-center">
    Just submit your information we Will Get Back to You as Soon as Possible!!
  </div>
  <div class="card-body">
    <div class="row mx-auto">
      <div class="col-sm-8">
        <div class="card border-success my-3">
          <div class="card-body">
           ---
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="">
          <div class="card-body">
            <div class="row gap-2">
              <div class="col-sm-12">
                <div class="card border-success ">
                  <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="card border-success">
                  <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>  
{% endblock %}