{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% block title %}Contact Us{% endblock %}
{% block header %}Contact Us{% endblock %}
{% block main %}
<div class="container mx-auto " style="max-width: 90%;">
<div class="card text-center">
  <div class="card-header text-center">
    Just submit your form we will Get Back to You as Soon as Possible!!
  </div>
  <div class="card-body">
    <div class="row mx-auto">
      <div class="col-sm-7">
        <div class="card border-success shadow my-3 p-3">
          <div class="card-body text-start  " >
            <form action="" method="post">
              {% csrf_token %}
              {{ form|crispy }}
              <input type="submit" value="Submit" class="btn btn-outline-primary btn-sm">
           </form>
          </div>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="">
          <div class="card-body">
            <div class="row ">
              <div class="col-sm-12 mb-3">
                <div class="card border-success shadow">
                  <div class="card-header text-center">Support Teams</div>
                  <div class="card-body text-start">                   
                      <ul class="list-group ">
                        <li class="list-group-item d-flex justify-content-between align-items-start pt-2">
                          <div class="ms-2 me-auto medium ">
                            <div class="">Juston odio</div>
                            <i class="bi bi-phone-vibrate"></i>:<span class="x-small px-1"> 702-504-8253</span>
                          </div>
                          <span class="badge bg-primary rounded-pill x-small">technologies</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                          <div class="ms-2 me-auto medium">
                            <div class="">Emmunel T</div>
                            <i class="bi bi-phone-vibrate"></i>:<span class="x-small px-1"> 725-504-8253</span>
                          </div>
                          <span class="badge bg-primary rounded-pill x-small">gameing</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start pb-2">
                          <div class="ms-2 me-auto medium">
                            <div class="">Eldana</div>
                            <i class="bi bi-phone-vibrate"></i>:<span class="x-small px-1">725-504-8253</span>
                          </div>
                          <span class="badge bg-primary rounded-pill x-small">account</span>
                        </li>
                      </ul>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="card border-success">
                  <div class="card-header text-center">Working Hours</div>
                  <div class="card-body"> 
                    <ul class="list-group ">
                      <li class="list-group-item d-flex justify-content-between align-items-start pt-2">
                        <div class="ms-2 me-auto medium ">
                          <i class="bi bi-calendar-week"></i>:<span class="small px-1">Monday - Friday</span>
                          <i class="bi bi-alarm ml-5"></i>:<span class="small px-1"> 8 am - 5pm </span>
                        </div>
                        <i class="bi bi-calendar2-check"></i>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start pt-2">
                        <div class="ms-2 me-auto medium ">
                          <i class="bi bi-calendar-week"></i>:<span class="small px-1">Saterday</span>
                          <i class="bi bi-alarm ml-5"></i>:<span class="small px-1"> 10 am - 4pm </span>
                        </div>
                        <i class="bi bi-calendar2-check"></i>
                      </li>
                    </ul>
                    <hr>
                    <div class="ratio ratio-16x9">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d51594.44777034564!2d-115.25568555844383!3d36.07756727786768!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c8c6403860709d%3A0x4c75b8d3efdf4505!2sLas%20Vegas%2C%20NV%2089118!5e0!3m2!1sen!2sus!4v1661583521687!5m2!1sen!2sus" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>  
{% endblock %}

