{% extends "_base.html" %}
{% load static %}
{% block javascript %}
   <script type="text/javascript" src="{% static 'js/comment-model.js' %}" defer ></script>
{% endblock %}
{% block title %}Home{% endblock %}
{% block main %}
<!--subscribe massage confeiramtion -->
<div class="container  my-5 ">
 {% if messages %}
    <div class="alert alert-success alert-dismissible fade show text-center  " role="alert" data-bs-delay="3000">
        <strong>Thanks for Subscribed us!!</strong>
        <ul class="list-group list-group-horizontal-xxl text-start p-2 ">
                    
            {% for message in messages %} 
                <li{% if message.tags %} class="{{ message.tags }}  list-group-item  alert-success"{% endif %}><i class="bi bi-check2-square px-2"></i> {{ message }}</li>
            {% endfor %}
        </ul>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
 {% endif %}
</div >
<!-- Carousel wrapper -->
<section id="testimonial-slider" >
    <div class="container border shadow">
        <div id="carouselExampleDark" class="carousel carousel-dark slide text-center py-4" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="col-sm-10 mx-auto">
                <div class="carousel-inner text-center text-dark py-4">
                    {% for comment in gameComment %}
                        {% if forloop.first %} 
                        <div class="carousel-item active" data-bs-interval="10000">
                        {% else %}    
                        <div class="carousel-item" data-bs-interval="10000">   
                        {% endif %}
                        <div class="user-photo mb-1">
                            {% if comment.user.avatar and not form.avatar.errors %}
                            
                            <img src="{{ comment.user.avatar.url }}" class="user-photo shadow " alt="testimonial slider">
                            {% else %}
                            <i class="bi bi-person-circle m-auto" style="font-size: 50px; color: rgb(98, 137, 252);"></i>
                            {% endif %} 
                        </div>
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-8">
                              <p class="mb-1 small">{{ comment.user}}</p>
                              <p class="x-small">{{ comment.created}}</p>
                              <p class="text-muted">
                                <i class="fas fa-quote-left pe-1"></i>
                                {{ comment.comment}}
                              </p>
                            </div>
                          </div>
                    
                        </div>
                    {% endfor %}
                    
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>

<!----Games -->
<div class="container  my-5 ">
    <div class="row g-1">
      <div class="col-sm-6 p-1 ">
        <div class="card text-center shadow ">
            <div class="card-header bg-primary text-white">
                <h6 class="bold ">Anagrame Aunt Game</h6>
            </div>
            <div class="card-body ">
              <p class="card-text text-start px-3">
                An anagram is a word made by rearranging the letters of another word. 
                For example, post, pots, opts, tops, and spot are all anagrams of stop.
                The objective of the Anagram Hunt game is to find all the anagrams for 
                a given word with in a given Seconds.The game recedes your scores so as 
                to measure the improvement that players achieved since he/she start playing 
                the game.</p>
              {% if not user.is_authenticated %}
              <a href="{% url 'account_login'%}" class="btn btn-outline-primary btn-sm">Play</a>
              {% else %}
              <a href="{% url 'anagram_game:anagram-game-main' %}" class="btn btn-outline-primary btn-sm">Play</a>
              {% endif %}
            </div>
            <div class="card-footer text-muted">
                <div class="container d-flex justify-content-between"> 
                    {% if not user.is_authenticated %}
                    <a href="{% url 'account_login'%}" class="dislike px-auto "><i class="bi bi-chat-left-quote-fill"></i>
                        comments:<small>({{ gameComment.count }})</small></a>
                    {% else %}
                    <a type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="{{ user.email }}" class="dislike px-auto "><i class="bi bi-chat-left-quote-fill"></i>
                        comments us <small>({{ gameComment.count }})</small>
                    </a>
                    {% endif%}
                    <a class="dislike px-auto "><i class="bi bi-hand-thumbs-up-fill"></i> 
                        Like 500
                    </a>
                    <a class="dislike px-auto "><i class="bi bi-hand-thumbs-down-fill"></i>
                        Dislike 51
                    </a>
                    <a class="dislike px-auto "><i class="bi bi-play-circle-fill"></i>
                        {{logged_users.count }} Live 
                    </a>
                    <a class="dislike px-auto "><i class="bi bi-share-fill"></i>
                        Share 
                     </a>
                </div>
              
            </div>
        </div>
      </div>
      <div class="col-sm-6 p-1 ">
        <div class="card text-center shadow ">
            <div class="card-header bg-primary text-white">
                <h6 class="bold ">Math Facts Practice Game</h6>
            </div>
            <div class="card-body ">
              <p class="card-text text-start px-4">
                Math facts game are basic calculations game that anyone can play and learn 
                in order to improve basic math calculating skills like[addition,abstraction,
                multiplication,and division ] and to do any arithmetic more quickly with in 
                a given Seconds.The game recedes your scores so as to measure the improvement
                that players achieved since he/she start playing the game.
            </p>
            {% if not user.is_authenticated %}
              <a href="{% url 'account_login'%}" class="btn btn-outline-primary btn-sm">Play</a>
            {% else %}
              <a href="{% url 'math_game:math-game-main' %}" class="btn btn-outline-primary btn-sm">Play</a>
            {% endif%}
            </div>
            <div class="card-footer text-muted">
                <div class="container d-flex justify-content-between"> 
                    {% if not user.is_authenticated %}
                    <a type="button"  href="{% url 'account_login'%}" class="dislike px-auto "><i class="bi bi-chat-left-quote-fill"></i>
                        comments:<small>({{ gameComment.count }})</small></a>
                    {% else %}
                    <a type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="{{user.email}}" class="dislike px-auto "><i class="bi bi-chat-left-quote-fill"></i>
                        comments us <small class='mx-1'>({{ gameComment.count }})</small>
                    </a>
                    {% endif%}
                    <a class="dislike px-auto "><i class="bi bi-hand-thumbs-up-fill"></i> 
                        Like 500
                    </a>
                    <a class="dislike px-auto "><i class="bi bi-hand-thumbs-down-fill"></i>
                        Dislike 51
                    </a>
                    
                    <a class="dislike px-auto "><i class="bi bi-play-circle-fill"></i>
                       {{ logged_users.count}} Live 
                    </a>
                   
                    <a class="dislike px-auto "><i class="bi bi-share-fill"></i>
                        Share 
                     </a>
                </div>
              
            </div>
        </div>
      </div>
    </div>
</div> 

<!--comment_model-->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="POST">
        {% csrf_token %}
        <div class="modal-body border-top text-start small">
          <div class="mb-3">
            <label for="id_email" class="col-form-label">Recipient:</label>
            <input type="email" class="form-control" name="email" id="id_email" required>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Comment:</label>
            <textarea class="form-control" name="comment" id="id_comment" required></textarea>
          </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-sm btn-primary" >submit</button>
        </div>
      </form>
    </div>
    </div>
  </div>
</div>

<!--information about games users-->
<div class="container my-5 mx-auto" style="max-width: 85%;">
    <div class="row g-3">
        <!--math-->
        <div class="col-sm-12 p-1">
            <div class="card text-center shadow ">
                <div class="card-header bg-primary text-white mb-3 ">
                    <h6 class="bold ">Top 5 Math Facts Practice Game Scores</h6>
                </div>
                <nav>
                  <div class="nav nav-tabs small" id="nav-tab" role="tablist">
                      
                      <button class="nav-link active " id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Addition</button>
                      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Subtraction</button>
                      <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Multiplication</button>
                      <button class="nav-link" id="nav-disabled-tab" data-bs-toggle="tab" data-bs-target="#nav-disabled" type="button" role="tab" aria-controls="nav-disabled" aria-selected="false">Division</button>
                      <!--<a href="{% url 'math_game:score-math-list' %}" >Cancel</a>-->
                  </div>
              </nav>
              <div class="tab-content" id="nav-tabContent">
                  <!--addition-->
                  <div class="tab-pane fade show active p-2 small" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                      <div class="row m-auto p-2">
                          <div class="col-sm-12 p-1 ">
                              {% if Addition|first %}
                              <div class="card text-center ">
                                  <div class="card-body ">
                                      <div class="table-responsive">
                                          <table class="table table-sm table-hover border">
                                              <thead class="table-light ">
                                                  <tr>
                                                  <th scope="col">Player</th>
                                                  <th scope="col">maxRange</th>
                                                  <th scope="col">Score</th>
                                                  <th scope="col">Point</th>
                                                  <th scope="col">Rank</th>
                                                  <th scope="col">Date</th>
                                                  </tr>
                                              </thead>
                                              <tbody>
                                              {% for score in Addition|slice:':5' %}
                                              
                                                  <tr>
                                                  
                                                  {% if score.operator == 'Addition[+]' %}:
                                                  <td>{{ score.user }}</td>
                                                  <td>{{ score.max_range }}</td>
                                                  <td>{{ score.score}}</td>
                                                  <td>{{ score.point}}</td>
                                                  <td>{{ forloop.counter }}</td>
                                                  <td>{{ score.created|date:'Y-m-d' }}</td>
                                                  
                                                  {% endif %}
                                                  </tr>
                                                  
                                                  {% endfor %}
                                              </tbody>
                                          </table>
                                      </div>
                                  </div>
                              </div>
                              {% else  %}
                              <div class="card-body alert alert-primary" role="alert" ><p>I Guss you or others still not play any Addition math fact game try one!!</p></div>
                              {% endif%}
                          </div>
                      </div> 
                  </div>
                  <!--subtraction-->
                  <div class="tab-pane fade p-2 small" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                      <div class="row m-auto p-2">
                          <div class="col-sm-12 p-1 ">
                              {% if Subtraction|first %}
                              <div class="card text-center">
                                  <div class="card-body ">
                                  
                                    <table class="table table-sm table-hover border">
                                        <thead class="table-light ">
                                          <tr>
                                            <th scope="col">Player</th>
                                            <th scope="col">maxRange</th>
                                            <th scope="col">Score</th>
                                            <th scope="col">Point</th>
                                            <th scope="col">Rank</th>
                                            <th scope="col">Date</th>
                                          </tr>
                                        </thead>
                                        <tbody class="small">
                                          {% for score in Subtraction|slice:':5' %}
                                          <tr>
                                          {% if score.operator == 'Subtraction[-]' %}:
                                            <td>{{ score.user }}</td>
                                            <td>{{ score.max_range }}</td>
                                            <td>{{ score.score}}</td>
                                            <td>{{ score.point}}</td>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ score.created|date:'Y-m-d' }}</td>
                                             
                                          {% endif %}
                                          </tr>
                                          
                                          {% endfor %}
                                        
                                        </tbody>
                                     </table>
                                  </div>
                              </div>
                              {% else  %}
                               <div class="card-body alert alert-primary" role="alert" ><p> I Guss you or others still not play any Subtraction math fact game try one!!</p></div>
                              {% endif%}
                          </div>
                      </div>
                  </div>
                   <!--multiplication-->
                  <div class="tab-pane fade p-2 small" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
                      <div class="row m-auto p-2">
                          <div class="col-sm-12 p-1 ">
                              {% if Multiplication|first %}
                              <div class="card text-center">
                                  
                                  <div class="card-body ">
                                  
                                    <table class="table table-sm table-hover border">
                                        <thead class="table-light ">
                                          <tr>
                                            <th scope="col">Player</th>
                                            <th scope="col">maxRange</th>
                                            <th scope="col">Score</th>
                                            <th scope="col">Point</th>
                                            <th scope="col">Rank</th>
                                            <th scope="col">Date</th>
                                          </tr>
                                        </thead>
                                        <tbody class="small">
                                        {% for score in Multiplication|slice:':5' %}
                                          <tr>
                                             {% if score.operator == 'Multiplication[*]' %}:
                                              <td>{{ score.user }}</td>
                                              <td>{{ score.max_range }}</td>
                                              <td>{{ score.score}}</td>
                                              <td>{{ score.point}}</td>
                                              <td>{{ forloop.counter }}</td>
                                              <td>{{ score.created|date:'Y-m-d' }}</td>
                                             
                                          {% endif %}
                                          </tr>
                                          
                                          {% endfor %}
                                        </tbody>
                                     </table>
                                  </div>
                              </div>
                              {% else  %}
                                  <div class="card-body alert alert-primary" role="alert" ><p>I Guss no One still not play any Multiplication math fuct game try one !!</p></div>
                              {% endif%}
                          </div>
                      </div>
                  </div>
                  <!--division-->
                  <div class="tab-pane fade p-2 small" id="nav-disabled" role="tabpanel" aria-labelledby="nav-disabled-tab" tabindex="0">
                      <div class="row m-auto p-2">
                          <div class="col-sm-12 p-1 ">
                              {% if Division|first %}
                              <div class="card text-center ">
                                 
                                  <div class="card-body ">
                                  
                                    <table class="table table-sm table-hover border">
                                        <thead class="table-light ">
                                          <tr>
                                            <th scope="col">Player</th>
                                            <th scope="col">maxRange</th>
                                            <th scope="col">Score</th>
                                            <th scope="col">Point</th>
                                            <th scope="col">Rank</th>
                                            <th scope="col">Date</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                        {% for score in Division|slice:':5' %}
                                         
                                          <tr>
                                           
                                             {% if score.operator == 'Division[/]' %}:
                                              <td>{{ score.user }}</td>
                                              <td>{{ score.max_range }}</td>
                                              <td>{{ score.score}}</td>
                                              <td>{{ score.point}}</td>
                                              <td>{{ forloop.counter }}</td>
                                              <td>{{ score.created|date:'Y-m-d' }}</td>
                                             
                                          {% endif %}
                                          </tr>
                                          
                                          {% endfor %}
                                        </tbody>
                                     </table>
                                  </div>
                              </div>
                              {% else  %}
                              <div class="card-body alert alert-primary" role="alert" ><p>I Guss no One still not play any Division math fuct game try one !!</p></div>
                              {% endif%}
                          </div>
                      </div>
                  </div>
              </div>
            </div>
        </div>
        <!--anagram-->
        <div class="col-sm-12 p-1 ">
          <div class="card text-center shadow ">
              <div class="card-header bg-primary text-white">
                  <h6 class="bold ">Top 10 Anagrame Aunt Game scores</h6>
              </div> 
              <div class="text-center m-1">
                {% if anagramScore|first %}
                <div class="card-body ">
                    <div class="table-responsive ">
                        <table class="table table-sm table-hover border m-auto">
                            <thead class="table-light small">
                                <tr>
                                    <th scope="col">Player</th>
                                    <th scope="col">wordSize</th>
                                    <th scope="col">Score</th>
                                    <th scope="col">Point</th>
                                    <th scope="col">Rank</th>
                                    <th scope="col">Date</th>
                                </tr>
                            </thead>
                            <tbody class="small">
                                {% for score in anagramScore|slice:':10' %}
                                    <tr>
                                        <td>{{ score.users }}</td>
                                        <td>{{ score.word_size }}</td>
                                        <td>{{ score.score}}</td>
                                        <td>{{ score.point}}</td>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ score.created|date:'Y-m-d'}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                                    
                        </table>

                    </div>
                </div>
                {% else  %}
                 <div class="card-body alert alert-info"" role="alert" ><p> I Guss you or others still not play any anagram Hunt game try one!!</p></div>
                {% endif%}
            </div>
           </div>
        </div>  
    </div>
</div>
<!--about activitse and numbers -->
<div class="my-5 mx-auto " style="max-width: 85%; ">
        <div class="card-body text-dark">
            <div class="row row-cols-2 row-cols-md-5 g-3">
                <div class="col ">
                <div class="card w-100 h-auto text-center shadow ">
                    <i class="bi bi-people-fill" style="font-size: 35px;"></i>
                    <div class="card-body">
                        <h5 class="card-title">{{numbers_users}}+</h5>
                        <p class="card-text">Registered Users</p>
                    </div>
                </div>
                </div>
                <div class="col ">
                    <div class="card w-100 h-auto text-center shadow ">
                        <i class="bi bi-calendar-week-fill" style="font-size: 35px;"></i>
                        <div class="card-body">
                            <h5 class="card-title">{{weekly_signup}}+</h5>
                            <p class="card-text">Weekly signup</p>
                        </div>
                    </div>
                </div>
                <div class="col ">
                    <div class="card w-100 h-auto text-center shadow ">
                        <i class="bi bi-watch" style="font-size: 35px;"></i>
                        <div class="card-body">
                            <h5 class="card-title">2 hr+ pre Day</h5>
                            <p class="card-text">One user spend </p>
                        </div>
                    </div>
                </div>
                <div class="col ">
                    <div class="card w-100 h-auto text-center shadow ">
                        <i class="bi bi-binoculars-fill" style="font-size: 35px;"></i>
                        <div class="card-body">
                            <h5 class="card-title">{{ num_visits }}+</h5>
                            <p class="card-text">Sit Visitors </p>
                        </div>
                    </div>
                </div>
                <div class="col ">
                    <div class="card w-100 h-auto text-center shadow ">
                        <i class="bi bi-megaphone-fill" style="font-size: 35px;"></i>
                        <div class="card-body">
                            <h5 class="card-title">{{Subscribed_users}}+</h5>
                            <p class="card-text">New Users Subscribtion </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
</div>

<div class="card my-5 mx-auto " style="max-width: 85%; ">
    <div class="card-header bg-primary text-white text-center"> <h6>Get Play2learnGames Products in Online Stores</h6> </div>
    <div class="card-body text-dark " style="font-size: 12.5px;">
        <div class="row row-cols-1 row-cols-md-5 g-3">
            <div class="col ">
                <div class="card w-100 h-auto shadow ">
                    <img src="https://m.media-amazon.com/images/I/41naQLpqJwS._AC_SR160,200_.jpg" style="max-width: 100px; max-height: 100px;" class="img-fluid card-img-top rounded-start mx-auto" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">25.00$</h5>
                        <p class="card-text">Men's play2learnGameing.com Sport Set Summer Outfit 2 Piece Set Short Sleeve T Shirts and Shorts Stylish Casual Sweatsuit Set</p>
                        <a href="https://www.amazon.com/gp/product/B0B3SSZL3D/ref=ewc_pr_img_5?smid=A2TETRRJZ9GR02&psc=1" type="button" class="btn btn-outline-primary btn-sm">Buy</a>
                    </div>
                </div>
            </div>
            <div class="col ">
                <div class="card w-100 h-auto shadow ">
                    <img src="https://m.media-amazon.com/images/I/51tsfQxXCcS._AC_AA152_.jpg" style="max-width: 100px; max-height: 100px;" class="img-fluid card-img-top rounded-start mx-auto" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">25.00$</h5>
                        <p class="card-text">Men's play2learnGameing.com Sport Set Summer Outfit 2 Piece Set Short Sleeve T Shirts and Shorts Stylish Casual Sweatsuit Set</p>
                        <a href="https://www.amazon.com/gp/product/B09YYVHTDG/ref=ewc_pr_img_2?smid=A1MU6D4NQGYZN9&psc=1" type="button" class="btn btn-outline-primary btn-sm">Buy</a>
                    </div>
                </div>
            </div>
            <div class="col ">
                <div class="card w-100 h-auto shadow ">
                    <img src="https://m.media-amazon.com/images/I/51PiVi3Hn6L._AC_AA152_.jpg" style="max-width: 100px; max-height: 100px;" class="img-fluid card-img-top rounded-start mx-auto" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">25.00$</h5>
                        <p class="card-text">Men's play2learnGameing.com Sport Set Summer Outfit 2 Piece Set Short Sleeve T Shirts and Shorts Stylish Casual Sweatsuit Set</p>
                        <a href="https://www.amazon.com/gp/product/B09Y3G8ZPM/ref=ewc_pr_img_4?smid=AOT94B2IXK4V8&psc=1" type="button" class="btn btn-outline-primary btn-sm">Buy</a>
                    </div>
                </div>
            </div>
            <div class="col ">
                <div class="card w-100 h-auto shadow ">
                    <img src="https://m.media-amazon.com/images/I/311M+ApgzyS._AC_SR320,400_.jpg" style="max-width: 100px; max-height: 100px;" class="img-fluid card-img-top rounded-start mx-auto" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">25.00$</h5>
                        <p class="card-text">Men's play2learnGameing.com Sport Set Summer Outfit 2 Piece Set Short Sleeve T Shirts and Shorts Stylish Casual Sweatsuit Set</p>
                        <a href="https://www.amazon.com/gp/slredirect/picassoRedirect.html/ref=sspa_dk_detail_0?ie=UTF8&adId=A091826527X3JOSSI0U5Z&qualifier=1656680129&id=4244016292811341&widgetName=sp_detail&url=%2Fdp%2FB09YM81V9G%2Fref%3Dsspa_dk_detail_0%3Fpsc%3D1%26pd_rd_i%3DB09YM81V9G%26pd_rd_w%3Djl7wk%26content-id%3Damzn1.sym.999c0877-3704-4f0f-9726-eebf80846a35%26pf_rd_p%3D999c0877-3704-4f0f-9726-eebf80846a35%26pf_rd_r%3DVY2QP4K3Y5XANGF16X9X%26pd_rd_wg%3DxcYwn%26pd_rd_r%3D7cdb4b70-18a5-4daf-b78d-89c616bc37a0%26s%3Dapparel&sp_csd=d2lkZ2V0TmFtZT1zcF9kZXRhaWw" type="button" class="btn btn-outline-primary btn-sm">Buy</a>
                    </div>
                </div>
            </div>
            <div class="col ">
                <div class="card w-100 h-auto shadow ">
                    <img src="https://m.media-amazon.com/images/I/71Y48Ls0m9L._AC_AA152_.jpg" style="max-width: 100px; max-height: 100px;" class="img-fluid card-img-top rounded-start mx-auto" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">25.00$</h5>
                        <p class="card-text">Men's play2learnGameing.com  Sport Set Summer Outfit 2 Piece Set Short Sleeve T Shirts and Shorts Stylish Casual Sweatsuit Set</p>
                        <a href="https://www.amazon.com/gp/product/B09YYSSCFK/ref=ewc_pr_img_1?smid=A1MU6D4NQGYZN9&psc=1" type="button" class="btn btn-outline-primary btn-sm">Buy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Grid container -->
{% if not user.is_authenticated %}
<div class="container bg-primary pb-2 my-5 mx-auto shadow rounded" style="max-width: 85%;">
    <!-- Section: Form -->
    
    <section class="">
        <form action="{% url 'pages:subscribe' %}" method="post">
            <!--Grid row-->
            <h6 class="pt-2 text-center text-white">Subscribe for our newsletter </h6>
            <div class="row d-flex justify-content-center">
                {% csrf_token %}
                <!--Grid column-->
                <div class="col-sm-5 col-4">
                    <div class="form-outline form-white mb-2">
                        <label for="name"></label>
                        <input id="name" name="name" class="form-control form-control-sm" placeholder="Your Name"/>
                    </div>
                </div>
                <!--Grid column-->
                <div class="col-sm-5 col-4">
                    <!-- Email input -->
                    <div class="form-outline form-white mb-2">
                        <label for="email"></label>
                        <input id="email" name="email" type="email"  class="form-control form-control-sm"
                            placeholder="Email address" />
                        
                    </div>
                </div>
                <!--Grid column-->
                <div class="col-auto p-2">
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-sm btn-outline-light mt-3">
                        Subscribe
                    </button>
                </div>
                
            </div>
            <!--Grid row-->
        </form>
    </section>
    
</div>
{% endif %}
{% endblock %}