@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Play&family=Share+Tech+Mono&display=swap');
body{
    font-family: 'Electrolize','Play', sans-serif, 'Share Tech Mono', monospace;
    background: #fff;
    font-size: 16px;
}
.overlay-inner {
    margin: auto;
    text-align: center;
    max-width: 800px;
}
/*-----------overlay result--------------*/

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(7, 1, 1, 0.931);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    visibility: hidden;
    transition: all .33s ease-out;
    transform: scale(1.2);
}

body.overlay-is-open .overlay,
.overlay--visible {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

body.overlay-is-open .MathFacts-game-play,
.blurred {
    filter: blur(4px);
}
.fine-score,.fine-score-result{
    font-size: large;
    font-weight:400;
    font-size: 20px;
}
.fine-score-result{
    font-size: larger;
    padding: auto 6px;
    
}

/*comments slides*/
.end-message{
    color: rgb(250, 8, 56);
    font-size: 20px;
}
.user-photo {
    width: 150px;
    border-radius: 100%;
    overflow: hidden;
    margin: 0 auto;
}
.dislike{
    font-size: 12px;
}
.small{
    font-size: 11px;
}
.medium{
    font-size: 14px;
}
.large{
    font-size: 20px;
    margin: 10px;
}