{% extends "_base.html" %}

{% block title %}Math Scores{% endblock %}
{% block header %}Math Scores{% endblock %}
{% block main %}
<div class="container-sm  bg-light p-4 text-center" >
    
    <div class="card border-success mb-3 text-center justify-content-center mx-auto" style="max-width: 40rem;">
        <div class="card-header bg-transparent border-success">Header</div>
        <div class="card-body text-success">
          <h5 class="card-title">Success card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="card-footer bg-transparent border-success">Footer
            100% wide until small breakpoint
            <p>Very interesting information Math Scores!</p>
        </div>
    </div>
</div>
  
{% endblock %}