{% extends "_base.html" %}
{% load static %}
{% block javascript %}
  
  <script type="text/javascript" src="{% static 'js/math.js' %}" defer ></script>
  <script type="text/javascript" async>
    $(document).ready(function(){
      $("#scoreData").click(function(e){
        //e.preventDefault();
        $.ajax({type: "POST",
             url: '{% url "math_game:score-math-list" %}',
             data: {
              operator:$("#id_operator").val(),
              max_range:$("#id_max_range").val(),
              score:$("#id_score").val(),
              point:$("#id_point").val(),
              csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val() 
            },
             success:function(data){
              consel.log( "your score successfully saved" );
              //reset all classes, variables, and input fields
              resetOperatorGameToPlay();
            }
       });
     });
   });
  </script>
{% endblock %}

{% block title %}Math game{% endblock %}

{% block header %}Math game{% endblock %}

{% block main %}

<div class="container-sm p-1 text-center ">
    {% if not Addition %}
    <div id="conform" class="alert alert-success alert-dismissible fade show text-center mx-auto" style="display: block; max-width: 42rem;" role="alert" data-bs-delay="3000">
        <div class="card border-primary m-auto mb-3 p-3 text-center"
          style="max-width: 50rem">
          <h6>your score successfully saved check out the loderbord for you rank .</p>
              <a href="{% url 'math_game:math-game-main' %}" class="btn btn-outline-primary btn-sm">OK</a>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    <div class="card border-success mb-3 mx-auto shadow text-center" id="start" style="display: block; max-width: 42rem; ">
        <div class="card-header  border-success text-center" style="font-size: 17px; ">
          Start Playing Math Practice Game 
        </div>
        <div class=" card-body text-success text-center " >
            <form  class="row g-2 m-auto needs-validation"  style="max-width: 95%;" novalidate>
                <div class="col-md-5 text-start">
                  <select name="operator"  class="form-select" id="validationCustom04" autofocus  required> 
                    <option selected disabled value="">Operates...</option>
                    <option value="0">Addition[+]</option>
                    <option value="1">Division[/]</option>
                    <option value="2">Multiplication[*]</option>
                    <option value="3">Subtraction[-]</option>
                  </select>
                  <div class="invalid-feedback">
                    Please select a valid operator.
                  </div>
                </div>
                <div class="col-md-4 text-start">
                    <select class="selacted-rang form-select" id="validationCustom03" autofocus  required>
                        <option selected disabled value="">maximam range</option>
                    </select>
                    <div class="invalid-feedback">
                      Please select a valid operator.
                    </div>
                </div>
                
                <div class="col-md-2 d-grid ">
                  <button id="button_start" class="btn btn-outline-primary form-label operator-btn" type="submit" >Start</button>
                </div>
            </form>
            
        </div>
        <div class="card-footer bg-transparent text-center text-dark border-success">
            <p>Math Game Instraction</p>
            <hr>
            <ul class="list-group list-group-flush  text-start" style="font-size: 15px;">
            <li class="list-group-item "><i class="bi bi-check2-square px-1"></i><small class='text-break'>Set Operates From The Option Menu:[Addition(+), Subtraction(-), Multiplication(*),and Division(/) ].</small></li>
            <li class="list-group-item text-break"><i class="bi bi-check2-square px-1"></i><small>Set Word Size From The Option Menu Range from 1 to 100. </small> </li>
            <li class="list-group-item text-break"><i class="bi bi-check2-square px-1"></i><small>Click Start Button To Start The Game.</small> </li>
            <li class="list-group-item text-break"><i class="bi bi-check2-square px-1"></i><small>You Can Follow up your Score and rank in leaderBoards.</small> </li>
            </ul>
        </div>
    </div>
    <div class="card border-success mb-3 mx-auto shadow text-center"  id="toggle" style="display: none; max-width: 42rem;">
            <div class="card-header bg-transparent border-success text-center  " style="font-size: 17px; ">
                <div class="game_counter d-flex justify-content-between mx-3">
                    <div class="score_counter score-result-section">
                       <p> SCORE : <span class="score_result"></span></p>
                    </div>
                    <div class="Time-left-section ">
                        <p>TIME LEFT: <span class="Time-left"></span> <small>sec</small></p>
                    </div>
                    
                </div>
            </div>
            <div class="card-body text-success text-center bg-transparent text-center " >
                 <div class="row game_section m-3">
                    <div class=" col-12 m-auto operators-selection-form">
                        <p class="selected-operators"></p>
                        <p class="selected_num_range" style="display:none;"></p>

                    </div>
                    <div class="col-12 m-auto operators-selection-form">
                        <h1 class="problem"> <strong></strong></h1>
                    </div>
                    
                    <div class="col-8 m-auto">
                       
                        <input 
                            class='answer-input form-control text-center' 
                            type="text" 
                            id="user_answer" 
                            placeholder="Enter you answer..." 
                            autocomplete="off"
                            autofocus
                            required
                        >
                    </div>
                 </div>
            </div>
            <div class="card-footer bg-transparent text-center text-dark border-success mx-3 p-2">
                <div class="row gap-2 m-auto px-1" style="max-width: 50%;">
                            <button  class="col btn btn-outline-primary input-value"  value="1">1</button>
                            <button  class="col btn btn-outline-primary input-value"  value="2">2</button>
                            <button  class="col btn btn-outline-primary input-value"  value="3">3</button>
                            <button  class="col btn btn-outline-primary input-value"  value="4">4</button>
                            <button  class="col btn btn-outline-primary input-value"  value="5">5</button>
                            <button  class="col btn btn-outline-primary input-value"  value="6">6</button>
                            <button  class="col btn btn-outline-primary input-value"  value="7">7</button>
                            <button  class="col btn btn-outline-primary input-value"  value="8">8</button>
                            <button  class="col btn btn-outline-primary input-value"  value="9">9</button>
                            <button  class="col btn btn-outline-primary input-value"  value="0">0</button>
                            <button  class="col btn btn-outline-primary input-value"  value="9">-</button>
                            <button  class="col btn btn-outline-primary input-value"  value="0">.</button>
                            <button  class="col btn btn-outline-primary input-value-clear"  value="clear">Clear</button>
                    
                </div>
            </div>
        
    </div>
    <div class="card border-success mt-4 mx-auto text-center" id="ownGameScore" style="display: block; max-width: 42rem; ">
        <div class="card-header border-success text-center " style="font-size: 17px; ">
            Top Rank of Math Practice Game Scores :
        </div>
        <div class="card-body text-success text-center " style="font-size:12px;">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    
                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Addition</button>
                    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Subtraction</button>
                    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Multiplication</button>
                    <button class="nav-link" id="nav-disabled-tab" data-bs-toggle="tab" data-bs-target="#nav-disabled" type="button" role="tab" aria-controls="nav-disabled" aria-selected="false">Division</button>
                    <a class="nav-link" href="{% url 'math_game:score-math-list' %}" >Play</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <!--addition-->
                <div class="tab-pane fade show active pt-3" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                    <div class="row ">
                        <div class="col-sm-12 " >
                            <div class="card text-center shadow m-auto" >
                                <div class="card-header">
                                    <h6 class="bold text-center medium">Bast 10 Addition[+] Math Facts Practice Game Scores</h6>
                                </div>
                                <div class="card-body ">
                                    <div class="table-responsive">
                                        {% if Addition %}
                                        <table class="table shadow table-sm table-hover border">
                                            <thead class="table-light ">
                                                <tr>
                                                <th scope="col">Player</th>
                                                <th scope="col">MaxRange</th>
                                                <th scope="col">Score</th>
                                                <th scope="col">Point</th>
                                                <th scope="col">Rank</th>
                                                <th scope="col">Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for score in Addition|slice:':10' %}
                                            
                                                <tr>
                                                
                                                {% if score.operator == 'Addition[+]' %}:
                                                <td>{{ score.user }}</td>
                                                <td>{{ score.max_range }}</td>
                                                <td>{{ score.score}}</td>
                                                <td>{{ score.point}}</td>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ score.created|date:'Y-m-d' }}</td>
                                                
                                                {% endif %}
                                                </tr>
                                                
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        {% else %}
                                        <h6>oops no one playing Addition game !! try one.</6>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--subtraction-->
                <div class="tab-pane fade pt-3" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                    <div class="row ">
                        <div class="col-sm-12 ">
                            <div class="card text-center shadow ">
                                <div class="card-header ">
                                    <h6 class="bold medium text-center">Bast 10 Subtraction[-] Math Facts Practice Game Scores</h6>
                                </div>
                                <div class="card-body ">
                                 {% if Subtraction %}
                                    <table class="table table-sm table-hover border">
                                      <thead class="table-light ">
                                        <tr>
                                          <th scope="col">Player</th>
                                          <th scope="col">MaxRange</th>
                                          <th scope="col">Score</th>
                                          <th scope="col">Point</th>
                                          <th scope="col">Rank</th>
                                          <th scope="col">Date</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        {% for score in Subtraction|slice:':10' %}
                                       
                                        <tr>
                                         
                                           {% if score.operator == 'Subtraction[-]' %}:
                                          <td>{{ score.user }}</td>
                                          <td>{{ score.max_range }}</td>
                                          <td>{{ score.score}}</td>
                                          <td>{{ score.point}}</td>
                                          <td>{{ forloop.counter }}</td>
                                          <td>{{ score.created|date:'Y-m-d' }}</td>
                                           
                                        {% endif %}
                                        </tr>
                                        
                                        {% endfor %}
                                      
                                      </tbody>
                                    </table>
                                {% else %}
                                   <h6>Oops no one playing Subtraction game !! try one.</6>
                                {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 <!--multiplication-->
                <div class="tab-pane fade pt-3" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
                    <div class="row ">
                        <div class="col-sm-12 ">
                            <div class="card text-center shadow ">
                                <div class="card-header">
                                    <h6 class="bold text-center medium">Bast 10 Multiplication[*] Math Facts Practice Game Scores</h6>
                                </div>
                                <div class="card-body ">
                                {% if Multiplication %}
                                   <table class="table table-sm table-hover border">
                                      <thead class="table-light ">
                                        <tr>
                                          <th scope="col">Player</th>
                                          <th scope="col">MaxRange</th>
                                          <th scope="col">Score</th>
                                          <th scope="col">Point</th>
                                          <th scope="col">Rank</th>
                                          <th scope="col">Date</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                      {% for score in Multiplication|slice:':10' %}
                                       
                                        <tr>
                                          
                                           {% if score.operator == 'Multiplication[*]' %}:
                                            <td>{{ score.user }}</td>
                                            <td>{{ score.max_range }}</td>
                                            <td>{{ score.score}}</td>
                                            <td>{{ score.point}}</td>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ score.created|date:'Y-m-d' }}</td>
                                           
                                        {% endif %}
                                        </tr>
                                        
                                        {% endfor %}
                                      </tbody>
                                   </table>
                                {% else %}
                                   <h6>oops it's looks like no one playing Multiplication game !! try one.</6>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--division-->
                <div class="tab-pane fade pt-3" id="nav-disabled" role="tabpanel" aria-labelledby="nav-disabled-tab" tabindex="0">
                    <div class="row ">
                        <div class="col-sm-12 ">
                            <div class="card text-center shadow ">
                                <div class="card-header">
                                    <h6 class="bold text-center medium ">Bast 10 Division[/] Math Facts Practice Game Scores</h6>
                                </div>
                                <div class="card-body ">
                                {% if Division %}
                                    <table class="table table-sm table-hover border">
                                      <thead class="table-light ">
                                        <tr>
                                          <th scope="col">Player</th>
                                          <th scope="col">MaxRange</th>
                                          <th scope="col">Score</th>
                                          <th scope="col">Point</th>
                                          <th scope="col">Rank</th>
                                          <th scope="col">Date</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                      {% for score in Division|slice:':10' %}
                                       
                                        <tr>
                                         
                                           {% if score.operator == 'Division[/]' %}:
                                            <td>{{ score.user  }}</td>
                                            <td>{{ score.max_range }}</td>
                                            <td>{{ score.score}}</td>
                                            <td>{{ score.point}}</td>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ score.created|date:'Y-m-d' }}</td>
                                          
                                        {% endif %}
                                        </tr>
                                        
                                        {% endfor %}
                                      </tbody>
                                   </table>
                                {% else %}
                                   <h6>oops it's looks like no one playing Division game !! try one.</6>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>
    <div class="card border-success mt-3 mx-auto shadow text-center" id="start" style="display: none; max-width: 42rem; ">
        <form method="post" enctype="multipart/form-data" id="score-form">
            {% csrf_token %}
            <p id="id_operator_p"><label for="id_operator">Operator:</label><input type="text" name="operator" maxlength="50" required id="id_operator" value="*"></p>
            <p id="id_max_range_p"><label for="id_max_range">Max range:</label><input type="number" name="max_range" value="2" required id="id_max_range"></p>
            <p id="id_score_p"><label for="id_score">Score:</label><input type="number" name="score" value="0" required id="id_score"></p>
            <p id="id_point_p"><label for="id_point">Point:</label><input type="number" name="point" value="0" required id="id_point"></p>
            <p id="id_ranked_p"><label for="id_ranked">Ranked:</label><input type="number" name="ranked" value="0" required id="id_ranked"></p>
            <input type="submit" value="Save">
        </form>
    </div>
</div>
<!----------overlay results------------>
<div class="overlay">
    <div class="overlay-inner ">
        <h3>MATH FACTS PRACTICE GAME</h3>
        <div class="py-3">
            <p id="selected-operators"></p>
            <p id="selected-rang"></p>
            <p class="end-message"></p3>
            <p class="fine-score bodrer">Your Final Score is : <span class="fine-score-result"></span></p>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-center mt-2 py-3">
            <button class="btn btn-sm btn-outline-light form-control reset_button">Play Again</button>
            <button class="btn btn-sm  btn-outline-light form-control resetOperator">Reset</button>
            <a href="{% url 'math_game:math-game-main' %}" >
              <input  id="scoreData" type="submit" class="save_score btn btn-sm btn-outline-light form-control" value="Save Score" >
            </a>
            <a href="{% url 'math_game:math-game-main' %}" class="btn  btn-sm btn-outline-light form-control " type="button">Exit</a>
        </div>
    </div>
</div>

{% endblock %}

